<general-header></general-header>
<div class="content">
  <div class="area">
    <h2>Sign Up</h2>
    <div class="fillForm" [formGroup]="forms">
      <mat-form-field appearance="fill">
        <mat-label>Pick a Username</mat-label>

        <input
          formControlName="username"
          type="username"
          matInput
          placeholder="dwaynejohnson"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          formControlName="email"
          placeholder="dwayne@therock.co"
          type="email"
          matInput
        />
      </mat-form-field>

      <button (click)="signUp()" class="signUpBtn" mat-stroked-button>
        Finish
      </button>
    </div>
    <div class="more">
      <p>
        Have an account already?
        <a [routerLink]="[ '/signin', ]">Sign in here</a>
      </p>
      <p>
        Forgot credentials?
        <a [routerLink]="[ '/reset', ]">Reset password</a>
      </p>
    </div>
  </div>
</div>
