div.nav_bar {
  margin: 1.5% 2% 0.5% 2%;
  border-bottom: 1px solid #231f20;
  span.item__title {
    color: #690375;
    text-decoration: underline;
    font-style: italic;
    font-size: 130%;
    padding: 0 1% 0 1%;
  }
  text-align: center;
}
div.content {
  display: flex;
  margin: 2%;
  flex-direction: row;
  div.products {
    width: 30%;
    display: inline-block;
    mat-card {
      margin-bottom: 5%;
    }
    max-height: 80vh;
    overflow: scroll;
  }
  div.wheel {
    width: 70%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    div.enclosure {
      width: 100%;
      display: flex;
      ngx-wheel {
        width: 80%;
      }
      div.sideNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        justify-content: space-around;
        mat-card {
          width: 70%;
          display: flex;
          flex-direction: column;
          h2 {
            width: 100%;
            text-align: center;
          }
          height: 20%;
          background-color: #fff5b2;
        }
      }
    }
    button {
      height: fit-content;
    }
  }
  mat-card {
    display: flex;
    mat-card-content.product__description {
      width: 70%;
    }
    mat-card-content.product__details {
      width: 30%;
      flex-direction: column;
      display: flex;
      mat-card {
        background-color: var(--mat-card);
        display: flex;
        flex-direction: column;
      }
      button {
        width: fit-content;
        margin-left: 50%;
      }
      justify-content: flex-start;
    }
  }
}
button.all {
  height: fit-content;
}
