<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef><p>No.</p></th>
    <td mat-cell *matCellDef="let user">
      <p>{{ users.indexOf(user) + 1 }}</p>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef><p>username</p></th>
    <td mat-cell *matCellDef="let user">
      <p>{{ user.username }}</p>
    </td>
  </ng-container>

  <!-- Total Tickets Column -->
  <ng-container matColumnDef="totalTickets">
    <th mat-header-cell *matHeaderCellDef><p>Total Tickets</p></th>
    <td mat-cell *matCellDef="let user">
      <p>{{ user.totalTickets }}</p>
    </td>
  </ng-container>

  <!-- Tickets left Column -->
  <ng-container matColumnDef="ticketsLeft">
    <th mat-header-cell *matHeaderCellDef><p>Tickets left</p></th>
    <td mat-cell *matCellDef="let user">
      <p>{{ getUserTickets(user) }}</p>
    </td>
  </ng-container>

  <!-- Bids Column -->
  <ng-container matColumnDef="bids">
    <th mat-header-cell *matHeaderCellDef><p>Bids</p></th>
    <td mat-cell *matCellDef="let user">
      <p>{{ getUserBids(user.username) }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="addTicks">
    <th mat-header-cell *matHeaderCellDef><p>Add</p></th>
    <td mat-cell *matCellDef="let user" class="addTickets">
      <p>
        <mat-icon style="font-size: 14pt" (click)="addTickets(user, 0)"
          >remove_circle_outline</mat-icon
        >
        {{ "  " }}
        <mat-icon style="font-size: 14pt" (click)="addTickets(user, 1)"
          >add_circle_outline</mat-icon
        >
        {{ user.addTickets }}{{ "  " }}
        <mat-icon
          style="font-size: 14pt"
          [ngStyle]="{
            color: user.addTickets == 0 ? 'var(--grey)' : 'var(--green)'
          }"
          (click)="sendTickets(user)"
          >send</mat-icon
        >
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
