div.content {
  display: flex;
  margin: 2%;
  flex-direction: row;
  div.products {
    width: 30%;
    display: inline-block;
    mat-card {
      margin-bottom: 5%;
    }
  }
  div.wheel {
    width: 70%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}
