<general-header></general-header>

<div class="content">
  <div class="products">
    <mat-card
      *ngFor="let product of products"
      class="product"
      background-color="var(--mat-card)"
    >
      <mat-card-content>
        <div class="product">
          <div class="product__description">
            <h2>{{ product.name }}</h2>
            <p class="em">from {{ product.owner }}</p>
            <p>{{ product.description }}</p>
            <!-- <img src="{{ product.photo }}" /> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="wheel">
    <ngx-wheel
      [width]="600"
      [height]="600"
      [spinDuration]="8"
      [disableSpinOnClick]="true"
      [items]="items"
      [innerRadius]="50"
      [spinAmount]="10"
      [textOrientation]="textOrientation"
      [textAlignment]="textAlignment"
      pointerStrokeColor="red"
      pointerFillColor="purple"
      [idToLandOn]="idToLandOn"
      (onSpinStart)="before()"
      (onSpinComplete)="after()"
    >
    </ngx-wheel>
    <button (click)="bid(finalBids[0])" mat-raised-button color="var(--green)">
      Draw Draw
    </button>
  </div>
</div>
