<div class="menu-bar">
  <div class="tickets">
    <h3>Tickets: {{ tickets }}</h3>
  </div>
  <div class="metadata">
    <p *ngIf="getBiddingState()">Bidding in progress...</p>
  </div>

  <div *ngIf="roles.includes('ADMIN')" class="buttons">
    <ng-container *ngIf="!getBiddingState(); else elseTemplate">
      <button
        (click)="startBiddingProcess()"
        mat-raised-button
        style="background-color: var(--green)"
      >
        Start Bidding
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <button (click)="endBiddingProcess()" mat-raised-button color="red">
        End Bidding
      </button>
    </ng-template>
    <button
      (click)="toDrawPage()"
      mat-stroked-button
      style="background-color: #7209b7; color: #f08ab8"
    >
      Draw
    </button>
  </div>
  <div class="message">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon
        [matBadgeHidden]="getUnreadCount() == 0"
        matBadge="{{ getUnreadCount() }}"
        matBadgeColor="accent"
      >
        message</mat-icon
      >
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="getMessages() > 0; else noMessageContainer">
      <div
        (click)="seeMessage(message)"
        mat-menu-item
        *ngFor="let message of messages"
      >
        <mat-icon> {{ message.icon }}</mat-icon>
        <span
          [ngStyle]="{ color: message.seen ? 'var(--grey)' : 'var(--primary)' }"
          >{{ message.content }}</span
        >
      </div>
    </ng-container>
    <ng-template #noMessageContainer>
      <div mat-menu-item>No new notifications 🦒</div>
    </ng-template>
  </mat-menu>
</div>
