<mat-drawer-container #spacer class="container" hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <mat-card>
      <profile></profile>
    </mat-card>
    <palette></palette>
    <div class="misc">
      <img src="../../../assets/ruf/ruf_logo.png" />
    </div>
    <div class="logout_btn">
      <button mat-raised-button color="accent" class="logout_btn">
        Log Out
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-mini-fab
        color="#f4a261"
        background-color="red"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1>RUF Coffee House (Pandemic Edition)</h1>
    </mat-toolbar>
    <div class="content" #spacer>
      <div class="product">
        <secondary-header [tickets]="tickets"></secondary-header>
        <div class="enclosure">
          <product-list
            (bidsChange)="this.bids = $event"
            (ticketsChange)="this.tickets = $event"
            (productsChange)="this.products = $event"
          ></product-list>
          <gift-area></gift-area>
        </div>
      </div>
      <div class="user">
        <user-list stickyThing [products]="products" [bids]="bids"></user-list>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
