<general-header></general-header>
<div class="content">
  <div class="area">
    <h2>Sign In</h2>
    <div class="fillForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          [formControl]="email"
          placeholder="dwayne@therock.co"
          type="email"
          matInput
        />
      </mat-form-field>

      <button
        disabled="{{ !this.email.valid }}"
        (click)="submit()"
        class="signUpBtn"
        mat-stroked-button
      >
        Send Request
      </button>
    </div>
    <div class="more">
      <p>
        Don't have an account?
        <a [routerLink]="[ '/signup', ]">Sign up here</a>
      </p>
      <p>
        Have an account already?
        <a [routerLink]="[ '/signin', ]">Sign in here</a>
      </p>
    </div>
  </div>
</div>
